/* 全局样式表 */
html,
body,
#app{
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;;
  min-width: 136.6rem;
}
/* 面包屑导航的样式重置 */
.el-breadcrumb{
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
/* 卡牌的样式重置 */
.el-card{
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.15) !important;/* 必须加上 !important 浏览器先执行这个样式，ie中不可用*/
}
.el-table{
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
.el-pagination{
  margin-top: 1rem;
}
.el-steps {
  margin: 1.5rem 0;
}
.el-step__title {
  font-size: 1.3rem;
}
/* 富文本编辑器样式 */
.ql-editor {
  min-height: 30rem;
}